<p>persona works!</p>
<div class="container mt-4">
  <h2>Crear Persona</h2>
  <form (ngSubmit)="crearPersona()" #personaForm="ngForm">
    <div class="row mb-3">
      <div class="col">
        <input type="number" class="form-control" placeholder="ID" required [(ngModel)]="persona.idPersona" name="idPersona">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre" required [(ngModel)]="persona.nombre" name="nombre">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Apellido 1" required [(ngModel)]="persona.apellido_1" name="apellido_1">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Apellido 2" required [(ngModel)]="persona.apellido_2" name="apellido_2">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="date" class="form-control" required [(ngModel)]="fechaNacString" name="fechaNac">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Teléfono" required [(ngModel)]="persona.telefono" name="telefono">
      </div>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Correo" required [(ngModel)]="persona.correo" name="correo">
    </div>
    <button type="submit" class="btn btn-primary">Crear Persona</button>
  </form>
</div>
